body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.auction-img {
    position: relative !important;
    width:  100px !important;
    height: 100px !important;
    background-position: 50% 50% !important;
    background-repeat:   no-repeat !important;
    background-size:     cover !important;
}



.panel {
  flex:1 0 95%;
}

@media only screen and (min-width : 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after, 
    .flex-row.row:before {
        display: flex;
    }
}

table { 
    border-collapse: collapse;
    border: none;
}

td {
    border: none !important;

}

.no-padding-left {
    padding-left: 0;
}